<style>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

</style>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                    Current Address:<br>
            </div>
            <div class="col-md-6">
                   <div class="row">
                       <div class="col-md-12">Bhuban flat 105 ,sai madows</div>
                   </div>  
                   <div class="row">
                        <div class="col-md-12">Pin:560037</div>
                    </div>  
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">Delivering Current Address</div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">Yes<input type="checkbox" (change)="changeAddressMode('Yes')"></div>
                       
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12"> Create New Address:</div>
           <div class="col-md-6">Flat/House</div> 
           <div class="col-md-6"><input type="text" class="form-control"></div> 
           <div class="col-md-6">Street</div> 
           <div class="col-md-6"><input type="text" class="form-control"></div> 
           <div class="col-md-6">State</div> 
           <div class="col-md-6"><input type="text" class="form-control"></div>
           <div class="col-md-6">Pin</div> 
           <div class="col-md-6"><input type="number" class="form-control"></div>
           <div class="col-md-6">&nbsp;</div> <br>
           <div class="col-md-6"><button type="button" class="btn btn-primary">Update Address</button></div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="carts.length>0">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-4">
                ItemName
            </div>
            <div class="col-md-4 col-sm-4 col-4">
                Item price
            </div>
            <div class="col-md-4 col-sm-4 col-4">
                        Item Quantity
             </div>
        </div>

        <div class="row" *ngFor="let item of carts ; let idx = index">
            <hr>
            
            <div class="col-md-4 col-sm-4 col-4">
                 {{item.itemName}}
            </div>
            <!-- visible after small screnn -->
            
            <div class="col-md-4 col-sm-4 col-4 ">&#8377;{{item.itemPrice}}</div>
            <div class="col-md-4 col-sm-4 col-4 ">{{item.itemQuantity}}</div>
            <div class="col-md-12 col-sm-12 col-12"><hr></div>
            
        </div>
        <div class="row">
            <button (click)="ConfirmPlaceOrder()" type="button" class="btn btn-primary">Confirm to Buy</button>
        </div>
    </div>
</div>