<style>
        .row-flex {
                display: flex;
                flex-wrap: wrap;
        }

        .content {
                height: 100%;
                /* padding: 20px 20px 10px; */
                margin-top: 10%;
                color: black;
        }

        @media only screen and (max-width: 768px) {
                ul.gallery {
                        margin-left: 15vw;
                        margin-right: 15vw;
                }
        }

        @media screen and (max-width: 400px) {
                imgBalance {
                        height: 40vw;
                        width: 25vw;
                }
        }

        @media screen and (max-width: 300px) {
                img {
                        height: 40vw;
                        width: 20vw
                }
        }

        @media screen and (min-width: 301px) {
                img {
                        height: 40vw;
                        width: 20vw
                }
        }

        @media screen and (min-width: 450px) {
                img {

                        height: 40vw;
                        width: 15vw
                }
        }

        @media screen and (min-width: 768px) {
                img {

                        height: 23vw;
                        width: 17vw
                }
        }

        @media screen and (max-width: 764px) {

                .largeSlider {
                        display: none;
                }
        }

        @media screen and (min-width: 765px) {
                .smallSlider {
                        display: none;
                }
        }
</style>

<!-- main slidding images -->
<div class="row">
        <div class="col-sm-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="hover">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div>
                                <div class="carousel-item active" style="cursor:pointer;">
                                        <img src="assets/images/a1.jpg" class="d-block w-100 h-50" (click)="fun(1)" alt="Matrimony">
                                </div>
                                <div class="carousel-item" style="cursor:pointer;">
                                        <img src="assets/images/a2.jpg" class="d-block w-100 h-50" (click)="fun(1)" alt="Matrimony">
                                </div>
                                <div class="carousel-item" style="cursor:pointer;">
                                        <img src="assets/images/a3.jpg" class="d-block w-100 h-50" (click)="fun(1)" alt="Matrimony">
                                </div>
                                <div class="carousel-item" style="cursor:pointer;">
                                        <img src="assets/images/a2.jpg" class="d-block w-100 h-50" (click)="fun(1)" alt="Matrimony">
                                </div>
                                <!-- <div class="carousel-item">
                                        <img src="assets/images/4.JPG" class="d-block w-100" alt="Matrimony" >
                                </div>
                                <div class="carousel-item">
                                        <img src="assets/images/5.JPG" class="d-block w-100" alt="Matrimony" >
                                </div> -->
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon" style="font-size:36px;color:red"></span>

                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                <!-- <ion-icon name="arrow-round-forward"></ion-icon>
                                    class="carousel-control-next-icon"
                            -->

                                <span>
                                        <i class="fa fa-angle-right" style="font-size:36px;color:red"></i>
                                </span>

                        </a>
                </div>

        </div>


</div>

<!-- NEW Arribvals items -->
<div class="row">
        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px; background: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 34%, rgb(240, 140, 205) 100%);">New Arrivals</div>
</div>
<div class="row row-flex">

        <!-- Courasoul with slidding multipule items -->
        <div id="newArrivalCarousel" class="carousel slide largeSlider" data-ride="carousel" data-interval="false" data-pause="hover">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                        <li data-target="#newArrivalCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#newArrivalCarousel" data-slide-to="1"></li>
                        <li data-target="#newArrivalCarousel" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->

                <!-- <div class="carousel-item active" style="cursor:pointer;">
                        <img src="assets/images/a1.jpg"  class="d-block w-100 h-50" (click)="fun()" alt="Matrimony">
                        </div> -->
                <div class="carousel-item " style="cursor:pointer;" *ngFor="let item2d of convertedDesktopAray ; let lidx = index;trackBy: trackByFn1"
                        [ngClass]="{active:lidx==0}">
                        <div class="row row row-flex ">
                                <div class="col-md-2 col-sm-6 col-6" *ngFor="let item of item2d" style="word-wrap: break-word;position: relative;">
                                        <div class="content">
                                                <div>
                                                        <img src="{{item.imageLocation[0]}}" (click)="fun(item)" class="mx-auto img-responsive shadow-lg p-4 mb-4 bg-white border border-dark"
                                                                style="width:100%;cursor:pointer;">
                                                </div>
                                        </div>

                                </div>

                        </div>


                </div>
                <a class="carousel-control-prev slidderArrow" href="#newArrivalCarousel" data-slide="prev">
                        <span class="fa fa-angle-left" style="font-size:36px;color:red"></span>

                </a>
                <a class="carousel-control-next slidderArrow" href="#newArrivalCarousel" data-slide="next">

                        <span>
                                <i class="fa fa-angle-right" style="font-size:36px;color:red"></i>
                        </span>

                </a>
        </div>
        <!-- its for mobile devides -->
        <div id="newSmallSlider" class="carousel slide smallSlider" data-ride="carousel" data-interval="false" data-pause="hover">


                <ul class="carousel-indicators">
                        <li data-target="#newSmallSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#newSmallSlider" data-slide-to="1"></li>
                        <li data-target="#newSmallSlider" data-slide-to="2"></li>
                </ul>



                <!-- <div class="carousel-item active" style="cursor:pointer;">
                                        <img src="assets/images/a1.jpg"  class="d-block w-100 h-50" (click)="fun()" alt="Matrimony">
                                </div> -->

                <div class="carousel-item " style="cursor:pointer;" *ngFor="let item2dsmall of conMobileArray ; let idx = index;trackBy: trackByFn"
                        [ngClass]="{active:idx==0}">
                        <div class="row row row-flex ">
                                <div class="col-md-2 col-sm-6 col-6" *ngFor="let item2 of item2dsmall" style="word-wrap: break-word;position: relative;">

                                        <div class="content">
                                                <div>
                                                        <img src="{{item2.imageLocation[0]}}" (click)="fun(item2)" class="mx-auto img-responsive shadow-lg p-4 mb-4 bg-white border border-dark"
                                                                style="width:100%;cursor:pointer;">
                                                </div>

                                        </div>

                                </div>

                        </div>


                </div>





                <a class="carousel-control-prev slidderArrow" href="#newSmallSlider" data-slide="prev" >
                        <span class="fa fa-angle-left" style="font-size:36px;color:red"></span>

                </a>
                <a class="carousel-control-next slidderArrow" href="#newSmallSlider" data-slide="next">

                        <span>
                                <i class="fa fa-angle-right" style="font-size:36px;color:red"></i>
                        </span>

                </a>
        </div>
</div>

<!-- Discounted Items -->
<div class="row">
        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px; background: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 34%, rgb(240, 140, 205) 100%);">Discounted</div>
</div>
<div class="row row-flex">

        <!-- <div class="col-md-2 col-sm-6 col-6" *ngFor="let item of images" style="word-wrap: break-word;position: relative;">

                <div class="content">
                        <div>
                                <img src="{{item}}" class="mx-auto img-responsive shadow-lg p-4 mb-4 bg-white border border-dark"
                                        style="width:100%;cursor:pointer;">
                        </div>
                        <div style="top: 10%;border-radius:30px;
                             position: absolute;background: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 34%, rgb(240, 140, 205) 100%);">20% Off</div>



                </div>

        </div> -->
        <!-- Courasoul with slidding multipule items -->
        <div id="discountDesktopCarousel" class="carousel slide largeSlider" data-ride="carousel" data-interval="false" data-pause="hover">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                        <li data-target="#discountDesktopCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#discountDesktopCarousel" data-slide-to="1"></li>
                        <li data-target="#discountDesktopCarousel" data-slide-to="2"></li>
                </ul>
                <div class="carousel-item " style="cursor:pointer;" *ngFor="let disCountItem of convertedDisCountDesktopAray ; let lidx = index;trackBy: trackByFn1"
                        [ngClass]="{active:lidx==0}">
                        <div class="row row row-flex ">
                                <div class="col-md-2 col-sm-6 col-6" *ngFor="let item of disCountItem" style="word-wrap: break-word;position: relative;">
                                        <div class="content">
                                                <div>
                                                        <img src="{{item.imageLocation[0]}}" (click)="fun(item)" class="mx-auto img-responsive shadow-lg p-4 mb-4 bg-white border border-dark"
                                                                style="width:100%;cursor:pointer;">
                                                               
                                                </div>
                                                <div style="top: 10%;border-radius:50px;
                                                position: absolute;background: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 34%, rgb(240, 140, 205) 100%);">{{item.discountValue}}%</div>
                                        </div>

                                </div>
                        </div>
                </div>
                <a class="carousel-control-prev slidderArrow" href="#discountDesktopCarousel" data-slide="prev">
                        <span class="fa fa-angle-left" style="font-size:36px;color:red"></span>

                </a>
                <a class="carousel-control-next slidderArrow" href="#discountDesktopCarousel" data-slide="next">

                        <span>
                                <i class="fa fa-angle-right" style="font-size:36px;color:red"></i>
                        </span>

                </a>
        </div>
        <!-- its for mobile devides -->
        <div id="disSmallSlider" class="carousel slide smallSlider" data-ride="carousel" data-interval="false" data-pause="hover">


                <ul class="carousel-indicators">
                        <li data-target="#disSmallSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#disSmallSlider" data-slide-to="1"></li>
                        <li data-target="#disSmallSlider" data-slide-to="2"></li>
                </ul>



                <!-- <div class="carousel-item active" style="cursor:pointer;">
                                                <img src="assets/images/a1.jpg"  class="d-block w-100 h-50" (click)="fun()" alt="Matrimony">
                                        </div> -->

                <div class="carousel-item " style="cursor:pointer;" *ngFor="let item2dsmall of conDiscountMobileArray ; let idx = index;trackBy: trackByFn"
                        [ngClass]="{active:idx==0}">
                        <div class="row row row-flex ">
                                <div class="col-md-2 col-sm-6 col-6" *ngFor="let item of item2dsmall" style="word-wrap: break-word;position: relative;">

                                        <div class="content">
                                                <div>
                                                        <img src="{{item.imageLocation[0]}}" (click)="fun(item)" class="mx-auto img-responsive shadow-lg p-4 mb-4 bg-white border border-dark"
                                                                style="width:100%;cursor:pointer;">
                                                       
                                                </div>
                                                <div style="top: 10%;border-radius:50px;
                                                position: absolute;background: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 34%, rgb(240, 140, 205) 100%);">{{item.discountValue}}%</div>


                                        </div>

                                </div>

                        </div>


                </div>





                <a class="carousel-control-prev slidderArrow" href="#disSmallSlider" data-slide="prev">
                        <span class="fa fa-angle-left" style="font-size:36px;color:red"></span>

                </a>
                <a class="carousel-control-next slidderArrow" href="#disSmallSlider" data-slide="next">

                        <span>
                                <i class="fa fa-angle-right" style="font-size:36px;color:red"></i>
                        </span>

                </a>
        </div>
</div>


<!-- <div class="container">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm"><img class="d-block w-100" src="{{images[0]}}" alt="1 slide"></div>
                        <div class="col-sm"><img class="d-block w-100" src="{{images[1]}}" alt="2 slide"></div>
                        <div class="col-sm"><img class="d-block w-100" src="{{images[2]}}" alt="3 slide"></div>
                    </div>
                </div>
                <div class="carousel-item" *ngFor="let item of images;let idx = index;">
                    <div class="row" >
                        <div class="col-sm"><img class="d-block w-100" src="{{item}}" alt="4 slide"></div>
                        <div class="col-sm"><img class="d-block w-100" src="{{item}}" alt="4 slide"></div>
                        <div class="col-sm"><img class="d-block w-100" src="{{item}}" alt="4 slide"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>   -->