<style>
    /*@media screen and (max-width: 400px) {
        span {
            background-color: red;
            color: white;
        }

    }*/
    @media screen and (max-width: 300px) {
                img {
                    height:30vw;
                    width:20vw
                }
    }
    @media screen and (min-width: 301px) {
                img {
                    height:20vw;
                    width:14vw
                }
    }  
    @media screen and (min-width: 700px) {
                img {
                    height:5vw;
                    width:3vw
                }
    }  

    @media screen and (max-width: 764px) {
                .NoHeader {
                    display:none;
                }
                .innerHeader{
                    display:block;
                }
    } 

     @media screen and (min-width: 765px) {
               
                .innerHeader{
                    display:none;
                }
    }   
    
</style>
<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-8 col-sm-8">
    
            <div class="row NoHeader">
                <div class="col-md-2 hideen-sm">item</div>
                <div class="col-md-3 hidden-sm">description</div>
                <div class="col-md-2 col-sm-4">price</div>
                <div class="col-md-2 col-sm-4">Quantity</div>
                <div class="col-md-2 col-sm-4">Total</div>
            </div>
        </div>
       
        <div class="col-md-4 NoHeader">Address</div>
        </div>
    <hr>
    <div class="row">
        
        <div class="col-md-8 col-sm-12">
    
            <div class="row" *ngFor="let item of carts ; let idx = index;trackBy: trackByFn">
                <hr>
                <div class="col-md-2 col-sm-6 col-4">
                    <img   src="{{item.imageLocation[0]}}" height="75%" width="49%">
                </div>
                <div class="col-md-3 col-sm-6 col-8">
                    <div class="row"> {{item.itemName}}</div>
                    <div class="row"> 
                        <span><i class="fa fa-trash-o" (click)="removeItem(item)" style="font-size:18px;cursor: pointer;"></i></span>
                    </div>
                   
                </div>
                <div class="col-md-1 col-sm-2 col-1 NoHeader">&#8377;{{item.itemPrice}}</div>
                <div class="col-md-3 col-sm-2 col-5 NoHeader">
                        <input class="form-control" type="number" id="itemnum_{{idx}}" value={{item.itemQuantity}} (change)="valueChange($event,item)" min="1" style="width: 100%;">
                  
                </div>
                   
                <div class="col-md-3 col-sm-2 col-6 NoHeader">&#8377;{{(item.itemPrice) * (item.itemQuantity)}}</div>
                <!-- visible after small screnn -->
                
                        <div class="col-sm-4 col-4 innerHeader NoHeader">price</div>
                        <div class="col-sm-4 col-4 innerHeader NoHeader">Qunatity</div>
                        <div class="col-sm-4 col-4 innerHeader NoHeader">Total</div>
             
                
                        <div class="col-sm-4 col-4 innerHeader NoHeader">&#8377;{{item.itemPrice}}</div>
                        <div class="col-sm-4 col-4 innerHeader NoHeader"><input class="form-control" type="number" id="itemnum_{{idx}}" value={{item.itemQuantity}} (change)="valueChange($event,item)" min="1" style="width: 100%;">
                        </div>
                        <div class="col-sm-4 col-4 innerHeader NoHeader">&#8377;{{(item.itemPrice) * (item.itemQuantity)}}</div>
                 
                <div class="col-md-12 col-sm-12 col-12"><hr></div>
                
            </div>
           
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
            
        <div class="col-md-3 col-1 "></div>
        <div class="col-md-3 col-7" style="text-align: right;">Sub-Total</div>
        <div class="col-md-3 col-3" >&#8377;{{totalAmount}}</div>
        <div class="col-md-3 col-1" ></div> 
    </div>
    <div class="row">
            
        <div class="col-md-3 col-1 "></div>
        <div class="col-md-3 col-7" style="text-align: right;"></div>
        <div class="col-md-3 col-3" ><button (click)="checkOutSelectedItems()">CHECK OUT</button></div>
        <div class="col-md-3 col-1" ></div> 
    </div>


</div>
