    <!-- modal end  -->

    <!-- <div  style="position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    z-index:1000;
                    background-color:grey;
                    opacity: .8;">
                        
                          <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> 
                      </div> -->
<style>
 html,body {
    height: 100%;
}
</style>
  
<div class="row" style="margin-top:5%;">
            <div class="col-md-3"></div>
            <div class="col-md-4 border shadow-lg">
                  <div *ngIf="showSpinner" style="position:absolute;
                                                                     top:0;
                                                                                left:0;
                                                                                width:100%;
                                                                                height:100%;
                                                                                z-index:1000;
                                                                                background-color:#fdfdfd;
                                                                                opacity: .8;
                                                                                overflow: hidden;">
                                        
                    <i class="fa fa-refresh fa-spin" style="font-size:70px;   margin-left: 50%;margin-top:10%;color:blue;"></i>
                                                                                 
             </div>
                  <div *ngIf="suucessLogMesg">{{suucessLogMesg}}</div>
                  <br>
                              <ul class="nav nav-tabs nav-justified">
                                          <li class="nav-item">
                                            <a class="nav-link active" style="cursor:pointer;" id="exUser" (click)="clicked($event,'exUser')" >Exising user</a> 
                                            
                                          </li>
                                          <li class="nav-item">
                                          
                                            <a class="nav-link" style="cursor:pointer;" id="newUser" (click)="clicked($event,'newUser')" >New user</a> 
                                          </li>
                                       
                               </ul> 
                                  <div id="signInUser" *ngIf="signInTab" style="margin-top:2%;">

                                                <form>
                                                      <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                                               
                                                        </div>
                                                        
                                                        <input  type="email" placeholder="Email" class="form-control" [value]="email" (input)="email = $event.target.value">
                                                      </div>
                                                    
                                                      <div class="input-group mb-3">
                                                        
                                                        <div class="input-group-prepend">
                                                          <span class="input-group-text"><i class="fa fa fa-lock"></i></span>
                                                        </div>
                                                        <input type="password" placeholder="Password" class="form-control" [value]="passWord" (input)="passWord = $event.target.value">
                                                      </div>
                                                </form>
                                        
                                      </div>
                                     <div id="LogInUser" *ngIf="!signInTab" style="margin-top:2%;"> 
                                                <form>

                                                            <div class="input-group mb-3">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                                               
                                                                        </div>
                                                                        
                                                                        <input type="text" placeholder="UserName" class="form-control" [value]="userName" (input)="userName = $event.target.value">
                                                             </div>
                                                            <div class="input-group mb-3">
                                                              <div class="input-group-prepend">
                                                                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                                                     
                                                              </div>
                                                              
                                                              <input  type="email" placeholder="Email" class="form-control" [value]="email" (input)="email = $event.target.value">
                                                            </div>
                                                          
                                                            <div class="input-group mb-3">
                                                              
                                                              <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa fa-lock"></i></span>
                                                              </div>
                                                              <input type="password" placeholder="Password" class="form-control" [value]="passWord" (input)="passWord = $event.target.value">
                                                            </div>
                                                            <div class="input-group mb-3">
                                                              
                                                                        <div class="input-group-prepend">
                                                                          <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                                                        </div>
                                                                        <input type="text" class="form-control" placeholder="Mobile" [value]="phoneNumber" (input)="phoneNumber = $event.target.value">
                                                             </div>
                                                      </form>
                                                      
                                                
                                        
                                        
                                      </div>
                                     <div>
                                                <button type="button" class="btn btn-success" (click)="saveUser()">Save</button>&nbsp;
                                                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Close</button>
                                     </div>
                                    
                  
                    
            </div>
          
</div>