<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>


<nav class="navbar navbar-expand-sm navbar-light bg-faded" style="padding-left: 0px;padding-right: 0px;">
  <!-- aria-controls="nav-content" aria-expanded="true" aria-label="Toggle navigation" 
  <img class="img-fluid" src="assets/images/logo.JPG" alt="team">
  -->

<a class="navbar-brand" href="#">PACK YOUR BAG</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="true" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> 
<div class="collapse navbar-collapse " id="nav-content">   

  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link dropdown-item waves-light" href="#">Link1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-item waves-light" href="#">PRODUCT2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-item waves-light" href="#">PRODUCT3</a>
        </li> 
        <li class="nav-item">
                <!-- <div id="bagIdLarge" class="navbar-brand">
                        <cart-shown></cart-shown>
                </div> -->
                <a class="nav-link dropdown-item waves-light" >Contact Us</a>
        </li>     
  </ul>
</div>
</nav>