<style>


        @media only screen and (min-width: 601px) {
        #bagId { 
              
             display: none;
            }
        #bagIdLarge{
                display: inline;
            }
        }
        @media only screen and (max-width: 600px) {
            
            #bagIdLarge{
                display: none;
            }
        }
        @media only screen and (max-width: 250px) {
            
            #navPadding{
                padding-left: 0px;
            }
        }
        @media only screen and (min-width: 992px)
        {
            .justify-content-lg-end {
                -ms-flex-pack: end !important;
                justify-content: flex-end !important;
            }
        }

        /*.nav-link:hover  {
            transition: background-color .25s;
            background-color: #000;
            color: #fff !important;
            text-decoration: underline;

        }*/
        
        .dropdown:hover>.dropdown-menu {
        display: block;
       
        }
        .dropdown-menu .dropdown-item:active
        {
            color: #ffffff;
            background-color: #68497bc2;
        }
        .dropdown-menu .dropdown-item:hover
        {
            color: #ffffff;
            background-color: #68497bc2;
        }
        .navbar-custom {
            background-image: linear-gradient(to right, rgb(69, 48, 92) 20%, rgb(86, 50, 45) 100%);
        }
        /* change the brand and text color */
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            /* color: rgba(255,255,255,.8); */
            color: #ffffff;
            padding: 0.8rem 1rem;
        }
        /* change the link color and add padding for height */
        .navbar-custom .navbar-nav .nav-link {
            /* color: rgba(255,255,255,.5); */
            color: #ffffff;
            padding: 1rem 1rem;
        }
        /* change the color of active or hovered links */
        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
            color: #ffffff;
            background-color: #68497bc2; /* add background-color to active links */
            
            text-decoration: underline;
        }
     p {
        color: black;
        text-decoration: none;
    }
    .pborder
    {
        margin-bottom: 0px;
    }
    p:hover 
    {
        color:#00A0C6; 
        text-decoration:none; 
        cursor:pointer;  
    }

        </style>
        
        
        <!-- <div class="row" style=" background-color: #1a1a1f;
        color: #fff;"> -->
  
       <!-- <div class="row" style="background-color: #d6230f;">
            <div class="col-md-5 col-0"><input type="search"></div>
            <div class="col-md-4 col-7">
                Pack YOUR BAG
            </div>
            <div class="col-md-3 col-5">
                    <user-info class="pull-right"></user-info>
        
            </div>
        </div>  -->
   

       
        <div class="row">
          <!-- <div id="bagId" class="col-md-2 col-sm-4 col-1">
              <cart-shown></cart-shown>
          </div>    -->
            <!-- <div class="col-md-2 col-sm-hide col-hide">
            </div>  -->
          <div class="col-md-12 col-sm-12 col-12 " id="navPadding" style="padding-left: 0px;padding-right: 0px;">
            <!-- <nav class="navbar navbar-expand-sm navbar-light bg-faded fixed-top navbar-custom " style="padding-left: 0px;padding-right: 0px;background-color: #ff4800"> -->
              <nav class="navbar navbar-expand-md navbar-light bg-faded  navbar-custom " style="padding: 0px;">
                  <!-- aria-controls="nav-content" aria-expanded="true" aria-label="Toggle navigation" 
                  <img class="img-fluid" src="assets/images/logo.JPG" alt="team">
                  -->
                <!-- <cart-shown  id="bagId"></cart-shown> -->
              <a class="navbar-brand" href="#">PACK YOUR BAG</a>
              <button id="navbtn" class="navbar-toggler toggleIcon" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="true" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button> 
              <div class="collapse navbar-collapse " id="nav-content">   
              
                  <ul class="navbar-nav mr-auto">
                                  <!-- Dropdown -->
                         <li class="nav-item dropdown" style="position: initial !important;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        Shop
                                        </a>
                                     <div class="dropdown-menu" style="width:100%;background: #f2f3fb;">
                                            <!-- <a class="dropdown-item" href="#">Link 1</a>
                                            <a class="dropdown-item" href="#">Link 2</a>
                                            <a class="dropdown-item" href="#">Link 3</a> -->
                                             
                                            <div  class="row">
                                                <div class="col-md-3 col-sm-6 col-6" *ngFor="let catagoryList of shopItems.catagories">
                                                    <b><p >{{catagoryList.catagory}}</p></b>
                                                    <div class="row">
                                                            <div class="col-md-12" *ngFor="let subCatagory of catagoryList.subcatagory">
                                                                <p class="pborder" (click)="searchList(catagoryList.catagory,subCatagory.key)">{{subCatagory.value}}</p>
                                                            </div>
                                                           
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                        </li>   
                      <li class="nav-item">
                          <a class="nav-link " [routerLink] = "['/Product1']">p1</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " [routerLink] = "['/Product2']">PRODUCT2</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link dropdown-item waves-light" [routerLink] = "['/Product3']">PRODUCT3</a>
                        </li> 
                        <li class="nav-item">
                                <!-- <div id="bagIdLarge" class="navbar-brand">
                                        <cart-shown></cart-shown>
                                </div> -->
                                <a class="nav-link dropdown-item waves-light" [routerLink] = "['/upload']" >admin</a>
                        </li> 
              
                  </ul>
                  <ul class="navbar-nav">
                    <!-- <div style="justify-content: flex-end !important;align-items: center !important;display: flex !important;"> <cart-shown></cart-shown></div> -->
                 <!-- <li class="nav-item nav-link"><user-info></user-info></li>  -->
                 
                    <li class="nav-item nav-link">
                        <a [routerLink] = "['/signin']" style="color:#ffffff !important">
                            Login<i class="fa fa-user-circle" aria-hidden="true"></i>
                        </a>
                    </li>
                   <li class="nav-item nav-link"><cart-shown></cart-shown></li> 
                </ul>
                 
                </div>
                
              </nav>
          </div>  
         
            <!-- <div id="bagIdLarge" class="col-md-2 col-sm-1">
                <cart-shown></cart-shown>
            </div>  -->
              
           
        </div>


    <router-outlet></router-outlet>

        
        
        
        