<style>

    .wrapper {
     width: 50%;
  }
  /*
  @media screen and (max-width: 576px)
  {
      img {
       
        max-width: 100px;
    }
  }*/
  
  .col-container {
      display: table;
      width: 100%;
  }
  .col1 {
      display: table-cell;
      padding: 16px;
  }
  
  @media only screen and (max-width: 600px) {
      .col1 { 
          display: block;
          width: 100%;
      }
  }
  @media only screen and (min-width: 601px) {
      .col1 { 
        
        width: 50%;
      height:15vw;
      }
  }
  
  .rowCustom {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }
  .flexbox-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: center;
  height: 10%;
}

.filled-with-image {
  
  background-image: url(http://unsplash.it/1500/1000?image=875);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
}
@media only screen and (max-width: 600px) {
.filled-with-image {
     
         
      width: 50%;
      height:15vw;
      }
  }

  /* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}


/* Demo backgrounds and styling*/

.colour-1 {
  background: #483C46;
  color: #fff;
}

.colour-2 {
  background: #3C6E71;
}

.colour-3 {
  background: #70AE6E;
}

.colour-4 {
  background: #82204A;
}

.colour-5 {
  background: #558C8C;
}

.colour-6 {
  background: #917C78;
}

body {
  padding: 20px 0;
  font-family: Roboto, sans-serif;
}

.content h3 {
  margin-top: 0px;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  margin-bottom: 40px;
}
  </style>
  
  <!-- <user-info></user-info> -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal11">
      Open modal
    </button>
    
    <!-- The Modal -->
    <div class="modal" id="myModal11">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            Modal body..
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>
    <input  type="text" [value]="hello" (input)="hello = $event.target.value">
   changing value :: {{hello}}
   <div>
  
    Number: <input type="number" id="myNumber" [value]="numItemSelected" (change)="valueChange($event)" min="1">
    updatedValue :: {{updatedValue}}
    <!-- <input type="number" [(ngModel)]="numberOfItem" (change)="onChange($event)" > -->
   </div>
   <div style="
        height: 10%;
        width: 14%;
        border: 1px solid #817373;">
    <img src="assets/images/1.jpeg" width="67%">
  </div>
  <div class="rowCustom">
  
    <div class="col-container">
  
          <!-- <div class="col1"  style="background:yellow">
            <img src="assets/images/1.jpeg" >
            <div>hellosssssssssssss sssssss
              sssss</div>
          </div>
          <div class="col1" style="background:green">
            <img src="assets/images/7.jpeg" >
            <div>hellosssssssssssss sssssss
              sssss</div>
          </div>
          <div class="col1" style="background:blue">
            <img src="assets/images/1.jpeg" >
            <div>hellosssssssssssss sssssss
            sssss</div>
          </div>
          <div class="col1" style="background:red">
            <img src="assets/images/7.jpeg" >
          </div> -->
  
  
  
      <!-- <div style="
          height: 10%;
          width: 40%;
          border: 1px solid #817373;">
          <img src="assets/images/1.jpeg" width="67%">
    </div>
    <div style="
          height: 10%;
          width: 40%;
          border: 1px solid #817373;">
          <img src="assets/images/1.jpeg" width="67%">
    </div>
    <div style="
          height: 10%;
          width: 40%;
          border: 1px solid #817373;">
          <img src="assets/images/1.jpeg" width="67%">
    </div> -->
  </div>
  </div>


  <!-- <div class="flexbox-container">
    <div class="filled-with-image"></div>
  </div> -->

  <!-- <ngx-image-gallery 
[images]="images" 
[conf]="conf"
(onOpen)="galleryOpened($event)"
(onClose)="galleryClosed()"
(onImageClicked)="galleryImageClicked($event)"
(onImageChange)="galleryImageChanged($event)"
(onDelete)="deleteImage($event)"
></ngx-image-gallery> -->


<div>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

</div>

<div class="container">
  <h1>Same height columns in Bootstrap</h1>
  <div class="row row-flex">
    <div class="col-md-4 col-sm-6 col-xs-12" style="position: relative;">
      <div class="content colour-1">
        <h3>First column</h3>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p> <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p> <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <p>This one has a bit longer content</p>
        <div style="bottom: 1%;position: absolute;"><button >zzzz</button></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="content colour-2">
        <h3>Second column</h3>
        <p>Normal content.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12" style="position: relative;">
      <div class="content colour-3">
        <h3>Third column</h3>
        <p>Normal content.</p>
        <div style="bottom: 1%;position: absolute;"><button >ABCC</button></div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="content colour-4">
        <h3>Fourth column</h3>
        <p>Normal content.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="content colour-5">
        <h3>Fifth column</h3>
        <p>Normal content.</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="content colour-6">
        <h3>Sixth column</h3>
        <p>Normal content.</p>
      </div>
    </div>
  </div>
  
  <p class="text-muted">This pen is a part of the <a href="https://bootstrapious.com/p/bootstrap-tips-and-tricks" target="_blank">Bootstrap tips and tricks article</a>.</p>
  
</div>