<style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 50%;
            height: 50%;
        }
        </style>
     <app-bar></app-bar>
  <div class="row"> 
        <div class="col-sm-2 col-md-2">
            slide show
        </div>
        <div class="col-sm-6 col-md-6">
                slide show

                <div><a  [routerLink] = "['/Product2']">Link2</a></div>
                <div>
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                      <button type="button" class="btn btn-primary"  (click) = "clicked(1)">ABBBCC
                            <span>
                              <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                      </span>
                  </button>
            </div>
         </div>
    </div>

<i class="fa fa-angle-right" style="font-size:36px"></i>
    <div class="row">
        <div class="col-sm-12 col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ul>
                        
                        <!-- The slideshow -->
                        <div >
                          <div class="carousel-item active" style="cursor:pointer;">
                            <img src="assets/images/a1.jpg"  class="d-block w-100 h-50" (click)="fun()" alt="Matrimony">
                          </div>
                          <div class="carousel-item" style="cursor:pointer;">
                                <img src="assets/images/a2.jpg" class="d-block w-100 h-50" (click)="fun()" alt="Matrimony" >
                          </div>
                          <div class="carousel-item" style="cursor:pointer;">
                                <img src="assets/images/a3.jpg" class="d-block w-100" (click)="fun()" alt="Matrimony" >
                          </div>
                          <!-- <div class="carousel-item">
                                <img src="assets/images/4.JPG" class="d-block w-100" alt="Matrimony" >
                          </div>
                          <div class="carousel-item">
                                <img src="assets/images/5.JPG" class="d-block w-100" alt="Matrimony" >
                          </div> -->
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                          
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                <!-- <ion-icon name="arrow-round-forward"></ion-icon>
                                    class="carousel-control-next-icon"
                               -->
                               
                                <span><i class="fa fa-angle-right" style="font-size:36px;color:red"></i></span>
                         
                        </a>
                </div>
        
        </div>
        

  </div>     
