<style>

    #container1 {
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background:#fff;
}

.items {
   
    background:#ECECEC;
}

#left, #right { 
    margin: 30px;
}
.ngx-gallery-image.ngx-gallery-active[_ngcontent-c4] 
{
    z-index: 1 !important;
}
</style>

<!-- 
<div class="row">
    <div class="col-md-1">
        <div class="row " *ngFor="let selectItemImage of selectedProduct.pics">
               <div class="col-md-12 col-sm-6 border">
                   
                        tobe comment  (mousemove)="mouseMove($event)" 
                        to be comment <button type="button" class="btn btn-light" item-height="100px" item-width="100px"><img   src="{{selectItem}}"></button> 
                    <a><img  src="{{selectItemImage}}" (mousedown)="mouseDown($event)" height="100%" width="100%"></a>
               </div>
                
        </div>
    </div>
    <div class="col-md-4">
        <div *ngIf="selectedImagePick" class="pull-left">
                to be comment [imageZoom]="selectedImage" [delay]="10 
            <img   [src]="selectedImagePick" height="100%" width="80%"> 
        </div>
    </div>
    
    <div class="col-md-5">
        This os good product with sd
        sadkadkmadd sjdsfsn 
        ssnfsfs <br>
        ssjsjfsjfjsfsjfsf
        sjfjsf ssh smnsfsddfhsfh ssddhfs f<br>
    </div>
    <div class="col-md-1">
       <button class="btn btn-warning" (click)="addCart()" > <i class="fa fa-shopping-cart" style="font-size:28px;color:rgb(97, 35, 35)"></i>Add TO CART{{cartCount}}</button>
    </div>
</div> -->
<div class="container" >
        <div class="row">
            <!-- tobe comment  (mousemove)="mouseMove($event)" 
                                    to be comment <button type="button" class="btn btn-light" item-height="100px" item-width="100px"><img   src="{{selectItem}}"></button>  -->
                                    <!-- <a><img  src="{{selectedItem.imageLocation}}" (mousedown)="mouseDown($event)" height="100%" width="100%"></a> -->
                                   
<!--                
                                    <div class="col-md-1" style="height: 350px !important;overflow: scroll;">
                                            <div class="row " >
                                                   <div class="col-md-12 col-sm-6 border" *ngFor="let imagePath of selectedItem.imageLocation">
                                                       
                                                          
                                                    
                                                            <a><img  src="{{imagePath}}" (mousedown)="mouseDown($event)" height="100%" width="100%"></a>
                                                   </div>
                                                    
                                            </div>
                        
                                        </div>
                                        <div class="col-md-4">
                                            <div *ngIf="selectedImagePick" class="pull-left">
                                                    
                                                
                                                <img   [src]="selectedImagePick" height="100%" width="80%" (mousemove)="mouseMove($event)" (mouseout)="onMouseOut()"> 
                                            </div>
                                        </div>                   -->
            <div *ngIf="showSpinner" style="position:absolute;
                                                                     top:0;
                                                                                left:0;
                                                                                width:100%;
                                                                                height:100%;
                                                                                z-index:1000;
                                                                                background-color:#fdfdfd;
                                                                                opacity: .8;
                                                                                overflow: hidden;">
                                        
                    <i class="fa fa-refresh fa-spin" style="font-size:90px;   margin-left: 50%;margin-top:10%;color:blue;"></i>
                                                                                 
             </div>
            <div class="col-md-6" style=" z-index: 1 !important">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style=" z-index: 1 !important;"></ngx-gallery>
            </div>
                <div class="col-md-5">
                   
                    {{selectedItem.itemName}}<br>
                    <div class="blog-post" *ngIf="testhtml" [innerHtml]="testhtml | noSanitize"></div>
                </div>
                <div class="col-md-1">
                   <button class="btn btn-warning" (click)="addCart()" > <i class="fa fa-shopping-cart" style="font-size:28px;color:rgb(97, 35, 35)"></i>Add TO CART{{cartCount}}</button>
                   <button class="btn btn-warning" (click)="addCart()" > <i class="fa fa-shopping-cart" style="font-size:28px;color:rgb(97, 35, 35)"></i>BUY NOW</button>
                </div>
            </div>
            <!-- its for corasul  -->

            <div class="row">

                              
                    <div class="col-md-12 col-sm-12 ">
                               
                           
                            <div id="selectImageId" class="carousel slide" data-ride="carousel">

                                    <!-- Indicators -->
                                    <ul class="carousel-indicators">
                                      <li data-target="#selectImageId" data-slide-to="0" class="active"></li>
                                      <!-- <li data-target="#selectImageId" data-slide-to="1" ></li>
                                      <li data-target="#selectImageId" data-slide-to="2" ></li> -->
                                    </ul>
                                    
                                    <!-- The slideshow -->
                                    <div >
                                      <!-- <div class="carousel-item active">
                                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(88).jpg" alt="First slide">
                                      </div>
                                      <div class="carousel-item">
                                            <img src="assets/images/a2.jpg" class="d-block w-100 h-50"  >
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg" alt="Second slide">
                                      </div> -->
                                      <!-- <div class="carousel-item">
                                            <img src="assets/images/4.JPG" class="d-block w-100" alt="Matrimony" >
                                      </div>
                                      <div class="carousel-item">
                                            <img src="assets/images/5.JPG" class="d-block w-100" alt="Matrimony" >
                                      </div> -->
                                    </div>
                                    
                                    <!-- Left and right controls -->
                                    <a class="carousel-control-prev" href="#selectImageId" data-slide="prev">
                                      <span class="carousel-control-prev-icon"></span>
                                      
                                    </a>
                                    <a class="carousel-control-next" href="#selectImageId" data-slide="next">
                                            <!-- <ion-icon name="arrow-round-forward"></ion-icon>
                                                class="carousel-control-next-icon"
                                           -->
                                           <span class="carousel-control-next-icon"></span>
                                            <!-- <span><i class="fa fa-angle-right" style="font-size:36px;color:red"></i></span> -->
                                     
                                    </a>
                            </div>


                            
                   </div>

            </div>
            <!-- its for corasul end -->
           <!-- <div style="width: 800px; height: 400px">
                    <carousel [sources]="imageSources" [config]="config"></carousel>
                  </div> -->
 
</div>
