<style>
  .rowMargin {
    margin-bottom: 7px !important;
  }

  .myButton {
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 15px;
    padding: 8px;
    border-radius: 6px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 44%, rgb(20, 78, 117) 100%);
    box-shadow: rgba(59, 255, 185, 0.63) 3px 0px 0px 3px;
    border: 2px solid rgb(28, 110, 164);
    display: inline-block;
  }

  .myButton:hover {
    background: #1C6EA4;
  }

  .myButton:active {
    background: #144E75;
  }
</style>





<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Upload Items Information
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <div class="container">


          <div class="row rowMargin">
            <div class="col-md-3">
              ITEM CATAGORY ::
            </div>
            <div class="col-md-3">
              <select [value]="catagorySelection" (change)="onSelect($event.target.value)" class="form-control">
                <option value="0">--Select--</option>
                <option *ngFor="let catagoryList of shopItems.catagories" value={{catagoryList.catagory}}>{{catagoryList.catagory}}</option>
              </select>

            </div>
            <div class="col-md-3">
              ITEM SUB-CATAGORY ::
            </div>
            <div class="col-md-3">
              <select [value]="subcatagorySelected" (change)="onSelect1($event.target.value)" class="form-control">
                <option value="0">--Select--</option>
                <option *ngFor="let subcatagory of subcatagoryList" value={{subcatagory.key}}>{{subcatagory.value}}</option>

              </select>
            </div>
          </div>
    

          <div class="row rowMargin">
            <div class="col-md-3">
              ITEM NAME ::
            </div>
            <div class="col-md-3">
              <input type="text" [value]="itemName" (input)="itemName = $event.target.value" class="form-control form-control">
            </div>
            <div class="col-md-3">
              Item Descriptions
            </div>
            <div class="col-md-3">
              <textarea   [value]="itemDesc" (change)="itemDesc = $event.target.value" class="form-control form-control"></textarea>
            </div>
          </div>

         
          
          <div class="row rowMargin">
            <div class="col-md-3">
              availbleNumber:
            </div>
            <div class="col-md-3">
              <input type="text" [value]="availNumber" (input)="availNumber = $event.target.value" class="form-control form-control">
            </div>
            <div class="col-md-3">
              item price:
            </div>
            <div class="col-md-3">
              <input type="text" [value]="itemPrice" (input)="itemPrice = $event.target.value" class="form-control form-control">
            </div>
          </div>
          <div class="row rowMargin">
        
            <div class="col-md-3">
              Item Color
            </div>
            <div class="col-md-3">
              <input type="text" [value]="itemColor" (input)="itemColor = $event.target.value" class="form-control form-control">
            </div>
          </div>
          <div class="row rowMargin">
            <div class="col-md-3">
              Add Primary Image:
            </div>
            <div class="col-md-3">
              <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" class="form-control-file border" />
              <img [src]="url" height="80">
            </div>
            <div class="col-md-3">
              Add Sub Image:
            </div>
            <div class="col-md-3">
              <input type="file" id="btnSubUpload" multiple value="Upload" (change)="fileChange($event)" class="form-control-file border" />
            </div>
          </div>
          <div class="row rowMargin">
            <button type="button" class="myButton" (click)="uploadItemDetails()">UploadItem</button>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        product Info
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="row rowMargin">
          
            <div class="col-md-4">
              <div class="row">
                  <div class="col-md-6">
                      ITEM CATAGORY ::
                    </div>
                    <div class="col-md-6">
                      <select [value]="catagorySelection" (change)="onSelect($event.target.value)" class="form-control">
                        <option value="0">--Select--</option>
                        <option *ngFor="let catagoryList of shopItems.catagories" value={{catagoryList.catagory}}>{{catagoryList.catagory}}</option>
                      </select>
          
                    </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                   SUB-CATAGORY ::
                  </div>
                  <div class="col-md-6">
                    <select [value]="subcatagorySelected" (change)="onSelect1($event.target.value)" class="form-control">
                      <option value="0">--Select--</option>
                      <option *ngFor="let subcatagory of subcatagoryList" value={{subcatagory.key}}>{{subcatagory.value}}</option>
        
                    </select>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        ITEM ID
                      </div>
                      <div class="col-md-6">
                          <input type="text" [value]="itemId" (input)="itemId = $event.target.value" class="form-control form-control">
                      </div>
                      <div class="col-md-2">
                          <button type="button" class="btn" (click)="search()" > <i class="fa fa-search" aria-hidden="true" style="font-size:28px;color:rgb(97, 35, 35)"></i></button>
                      </div>
                  </div>
            </div>
          
        
  
        </div>
        <div *ngIf="showSpinner" style="position:absolute;
                                                                     top:0;
                                                                                left:0;
                                                                                width:100%;
                                                                                height:100%;
                                                                                z-index:1000;
                                                                                background-color:#fdfdfd;
                                                                                opacity: .8;
                                                                                overflow: hidden;">
                                        
                    <i class="fa fa-refresh fa-spin" style="font-size:90px;   margin-left: 50%;margin-top:10%;color:blue;"></i>
                                                                                 
         </div>
        <hr>
        <div class="row" style="margin-bottom: 1%;">
            <div class="col-md-3">Name </div>  
            <div class="col-md-3">Price</div> 
            <div class="col-md-3">Available</div> 
            <div class="col-md-3"> </div> 
       
          </div>
          <hr>
        <div class="row" *ngFor="let item of itemList | paginate: { itemsPerPage: 20 ,currentPage: page,totalItems :totalElemnts }" style="margin-bottom: 1%;">
          <div class="col-md-3">{{item.itemName}} </div>  
          <div class="col-md-3">&#8377;{{item.itemPrice}}</div> 
          <div class="col-md-3">{{item.itemQuantity}}</div> 
          <div class="col-md-3"> <button type="button" class="btn" data-toggle="modal" (click)="selectItem(item)" data-target="#adminUpdateModal"> Modify</button></div> 
     
        </div>
        <div class="row">
          <!-- <div class="medium-8 medium-offset-2 columns"> -->
           <div class="col-md-12 col-sm-12 pull-right">
            <pagination-controls (pageChange)="getProductsInfoData( $event)"  responsive="true"  previousLabel="previous"
            nextLabel="next" class="pull-right"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#orderDetailsId" (click)="getLatestOrders()">
          OrderDetails
        </a>
      </div>
      <div id="orderDetailsId" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row rowMargin">
            
            find order details
            
        
    
          </div>
          <div class="row" *ngFor="let itemOrder of itemOrderList " style="margin-bottom: 1%;">
            <div class="col-md-3">{{itemOrder.orderId}} </div>  
            <div class="col-md-3">{{itemOrder.userId}}</div> 
            <div class="col-md-6">{{itemOrder.document}}</div> 
            <!-- <div class="col-md-3"> {{itemOrder.custInfo.email}}</div>  -->
       
          </div>
        </div>
      </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="adminUpdateModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Updating Items Info</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div *ngIf="adminUpdateSpinner" style="position:absolute;
                top:0;
                          left:0;
                          width:100%;
                          height:100%;
                          z-index:1000;
                          background-color:#fdfdfd;
                          opacity: .8;
                          overflow: hidden;">

        <i class="fa fa-refresh fa-spin" style="font-size:90px;   margin-left: 50%;margin-top:10%;color:blue;"></i>
                            
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div *ngIf="updateItemMessage">{{updateItemMessage}}</div>
            <div class="row"  style="margin-bottom: 1%;" *ngIf="selectedItem">
                <div class="col-md-3">{{selectedItem.itemName}} </div>  
                <div class="col-md-5">&#8377;<input  type="number" value={{selectedItem.itemPrice}} (change)="priceChange($event)" min="1" style="width: 90%;">
                  
                </div> 
                <div class="col-md-4"><input  type="number" value={{selectedItem.itemQuantity}} (change)="quantityChange($event)" min="1" style="width: 100%;"></div> 
               
           
              </div>
              <hr>
              <div class="row"  style="margin-bottom: 1%;" *ngIf="selectedItem">
                  
                  <div class="col-md-6">Discount value(%) </div>  
                  <div class="col-md-6"><input  type="number" value={{selectedItem.discountPercentage}} (change)="discountChange($event)" min="1" style="width: 100%;"> </div>  
                </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="updateItem()">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- Navbar -->


<!-- <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="jumbotron">
          <h1>Navbar example</h1>
          <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
          <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
        </div>
      </div> -->
<!-- Navbar -->


<!-- nav bar11111111111 -->
<!-- <div>
    hiiiiiiiiiiiiiiiiiii
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mr-4" href="">Flask Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="">Home</a>
                    <a class="nav-item nav-link" href="">About</a>
                    <a class="nav-item nav-link" href="">Daily Task</a>
                    </div>
                   
                    <div class="navbar-nav">
                    
                            <a class="nav-item nav-link" href="">New Post</a>
                            <a class="nav-item nav-link" href="">Account</a>
                            <a class="nav-item nav-link" href="">Logout</a>
                    
                        <a class="nav-item nav-link" href="">Login</a>
                        <a class="nav-item nav-link" href="">Register</a>
                        
                    </div>
                </div>
        </div>
    </nav>
</div> -->