/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
* {
    font-family: Georgia, serif;
   }
.slidderArrow
{
    width:4%;
}
.toggleIcon
{
    background-color: #e8d8d8;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}